     
      <tr>
        <td><%= @newproduct.id %></td>
        <td><%= @newproduct.product_name %></td>
		    <td><%= @newproduct.product_sku %></td>
		    <td><%= @newproduct.price %></td>	
      </tr>	 	  
	 
